<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- content fragement 선언 부분 -->

<main layout:fragment="content" class="container-fluid">
	  <section>
        <h2 class="text-center mb-4">회원가입</h2>
    </section>

    <form method="get" class="w-50 mx-auto">

        <!-- 아이디 -->
        <div class="form-group row">
            <label for="userId" class="col-sm-4 col-form-label text-sm-right">아이디</label>
            <div class="col-sm-8">
                <input type="text" id="id" name="id" class="form-control" placeholder="아이디 입력">
	            <button type="button" class="form-control duplicateCheckBtn" data-target="userId">중복 확인</button>
            </div>
        </div>

        <!-- 닉네임 -->
        <div class="form-group row">
            <label for="nickname" class="col-sm-4 col-form-label text-sm-right">닉네임</label>
            <div class="col-sm-8">
                <input type="text" id="nickname" name="nickname" class="form-control" placeholder="닉네임 입력">
        		<button type="button" class="form-control duplicateCheckBtn" data-target="nickname">중복 확인</button>
            </div>
        </div>

        <!-- 비밀번호 -->
        <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label text-sm-right">비밀번호</label>
            <div class="col-sm-8">
                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호 입력">
            </div>
        </div>

        <!-- 비밀번호 확인 -->
		<div class="form-group row">
		    <label for="confirmPassword" class="col-sm-4 col-form-label text-sm-right">비밀번호 확인</label>
		    <div class="col-sm-8">
		        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="비밀번호 확인">
		        <!-- 메시지를 input 바로 아래로 이동 -->
		        <p id="passwordMessage" style="margin-top:5px;"></p>
		    </div>
		</div>
        
        <!-- 이름 -->
        <div class="form-group row">
            <label for="userName" class="col-sm-4 col-form-label text-sm-right">이름</label>
            <div class="col-sm-8">
                <input type="text" id="userName" name="userName" class="form-control" placeholder="이름 입력">
            </div>
        </div>

        <!-- 성별 -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-sm-right">성별</label>
            <div class="col-sm-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="male" name="gender" value="male">
                    <label class="form-check-label" for="male">남성</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="female" name="gender" value="female">
                    <label class="form-check-label" for="female">여성</label>
                </div>
            </div>
        </div>
        
        <!-- 생일 -->
        <div class="form-group row">
            <label for="birth" class="col-sm-4 col-form-label text-sm-right">생일</label>
            <div class="col-sm-8">
                <input type="date" id="birth" name="birth" class="form-control" placeholder="생일 입력">
            </div>
        </div>
        
        <!-- 전화번호 -->
        <div class="form-group row">
            <label for="phonenumber" class="col-sm-4 col-form-label text-sm-right">전화번호</label>
            <div class="col-sm-8">
                <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="전화번호 입력">
            	<button type="button" class="form-control duplicateCheckBtn" data-target="phonenumber">중복 확인</button>
            </div>
        </div>
        
        <!-- 이메일 -->
        <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label text-sm-right">이메일</label>
            <div class="col-sm-8">
                <input type="text" id="email" name="email" class="form-control" placeholder="이메일 입력">
            	<button type="button" class="form-control duplicateCheckBtn" data-target="email">중복 확인</button>
            </div>
        </div>
        
        <!-- 주소 -->
        <div class="form-group row">
            <label for="address" class="col-sm-4 col-form-label text-sm-right">주소</label>
            <div class="col-sm-8">
                <input type="text" id="address" name="address" class="form-control" placeholder="주소 입력">
            </div>
        </div>

        <!-- 가입 버튼 -->
		<div class="form-group row">
			<div class="col-12">
				<button type="submit" class="btn btn-primary btn-block">가입하기</button>
			</div>
		</div>

	</form>
</main>