<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="customerserviceList">
	<div class="list-group">
		<a th:href="@{/customerservice/notice}"
			class="list-group-item list-group-item-action"
			th:classappend="${active=='notice'} ? ' active'">공지사항<span>></span></a>
		<a th:href="@{/customerservice/faq}"
			class="list-group-item list-group-item-action"
			th:classappend="${active=='faq'} ? ' active'">FAQ<span>></span></a> <a
			th:href="@{/customerservice/qna}"
			class="list-group-item list-group-item-action"
			th:classappend="${active=='qna'} ? ' active'">QnA<span>></span></a>
	</div>
</div>

</html>