<nav th:fragment="headerFragment" class="navbar navbar-expand-md">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="/images/main-logo.png" alt="logo" style="width:70px;">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="#">메이크메이트</a></li>
            <li class="nav-item"><a class="nav-link" href="#">커뮤니티</a></li>
            <li class="nav-item"><a class="nav-link" href="#">여행 정보</a></li>
            <li class="nav-item"><a class="nav-link" href="#">여행 후기</a></li>
            <li class="nav-item"><a class="nav-link" href="#">고객센터</a></li>
        </ul>
    </div>

    <!-- 사용자 아이콘 Dropdown -->
    <div class="dropdown">
        <button class="dropdown-toggle dropdown--color" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            <img src="/images/PersonCircle.png" alt = "사용자 아이콘" width = "30" height="30">
        </button>
        <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">로그인</a>
            <a class="dropdown-item" href="#">회원가입</a>
        </div>
    </div>
</nav>
</html>
