<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- content fragement 선언 부분 -->
<main layout:fragment="content">
	<h4 class="text-center content--title">커뮤니티 글을 작성해주세요</h4>
	<div class="register-containers bg--containers pt-5 pb-5">
		<!-- 게시글 작성 폼 -->
		<div class="form-container">
			<form th:action="@{/community/register}" method="post"
				th:object="${community}" enctype="multipart/form-data">
				<div class="col-sm-12">
					<input type="text" id="title" th:field="*{title}"
						class="form-control" placeholder="제목" required>
				</div>
				<br>
				<div class="form-group row">
					<div class="col-sm-12">
						<textarea id="content" th:field="*{content}" class="form-control"
							rows="12" placeholder="내용" required></textarea>
					</div>
				</div>
				<br>
				<!-- <div class="custom-file">
					<p>사진 첨부</p>
					<input type="file" class="custom-file-input" id="customFile"
						name="image"> <label class="custom-file-label"
						for="customFile">Choose file</label>
				</div> -->

				<div class="d-flex justify-content-between align-items-center">
					<button type="submit" class="btn btn-primary">작성 완료</button>
					<!-- 목록으로 버튼 (흰색 배경 + border) -->
					<button type="button" class="btn btn-back btn--radius"
						th:onclick="|window.location.href='@{/community/list}'|">
						목록으로</button>
				</div>
			</form>
		</div>
	</div>
</main>