<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- 메이크 메이트 게시판 리스트 -->
<main layout:fragment="content" style="width: 100%;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl bg-success">1 of 2</div>
			<div class="col-xl bg-warning">2 of 2</div>
		</div>
	</div>
	<br>
	<h4 class="text-center content--title">메이크 메이트 게시판 리스트</h4>
	<div class="" style="border: 1px solid;">내용</div>

	<script src="/js/makemate.js"></script>
</main>
</html>