<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<main layout:fragment="content">
	<h4 class="text-center content--title">여행 정보 상세보기</h4>
	<div class="register-containers bg--containers pt-5 pb-5">

		<div class="form-container">
			<!-- 1. 제목 -->
			<div class="form-container">
				<div class="col-sm-12">
					<h5 th:text="${travelInfo.title}">제목</h5>
					<!-- th:text : 출력 전용 코드 -->
				</div>
			</div>

			<div class="board-divider mb-3">

				<!-- 2. 여행정보 / 기준일 / 도시 -->
				<div class="form-group row">
					<!-- 여행 정보 유형 -->
					<div class="col-md-4">
						<label>여행 정보 유형</label>
						<p class="form-control-plaintext" th:text="${travelInfo.infotype}"></p>
					</div>

					<!-- 여행 기준일 -->
					<div class="col-md-4">
						<label>여행 기준일</label>
						<p class="form-control-plaintext"
							th:text="${travelInfo.tempMonth}">2025-08</p>
					</div>
				</div>

				<div class="form-group row">
					<!-- 나라 -->
					<div class="form-group col">
						<label>나라</label>
						<p th:text="${travelInfo.city.country.name}">대한민국</p>
					</div>

					<!-- 도시 -->
					<div class="form-group col">
						<label>도시</label>
						<p th:text="${travelInfo.city.name}">서울</p>
					</div>
				</div>

				<div class="board-divider mb-3"></div>

				<!-- 3. 본문 -->
				<div class="form-group row">
					<div class="col-sm-12">
						<pre th:text="${travelInfo.content}"
							style="white-space: pre-wrap; font-family: inherit;"></pre>
					</div>
				</div>

				<div class="board-divider mb-3"></div>

				<!-- 4️. 사진 -->
				<!-- 				<div class="form-group row" th:if="${travelInfo.photo != null}">
					<div class="col-sm-12">
						<img th:src="@{${travelInfo.photo}}" alt="첨부사진"
							class="img-fluid rounded shadow-sm" style="max-width: 400px;">
					</div>
				</div> -->

				<!-- 5. 버튼 -->
				<div class="d-flex justify-content-between align-items-center">
					<button type="button" class="btn btn-back"
						onclick="history.back();">목록</button>
					<a th:href="@{'/travel-info/edit/'+${travelInfo.idx}}"
						class="btn btn-primary">수정 </a>
				</div>
			</div>
		</div>
</main>
</html>