<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">
<!-- html 태그 부분 : 타임리프 사용, layout 구조 사용, base 레이아웃을 상속해서 사용 -->

<main layout:fragment="content">
	<h4 class="text-center content--title">여행 후기 게시판</h4>
	<div class="travel-info-containers bg--containers pt-5 pb-5">

		<div class="form-container">
			<form th:action="@{/}" method="get">
				<div class="form-group row">
					<div class="col-sm-10">
						<input type="text" name="keyword" class="form-control"
							placeholder="무엇을 찾아볼까요?">
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-block btn-search">검색</button>
					</div>
				</div>
				<!-- 카테고리 필터 -->
				<!-- 정보 종류 필드 -->
				<!-- 지역 -->
				<div class="form-group row">
					<div class="col-md">
						<select class="form-control mr-2" name="country">
							<option value="">나라</option>
							<option value="한국">한국</option>
							<option value="호주">호주</option>
							<option value="영국">영국</option>
						</select>
					</div>

					<div class="col-md">
						<select class="form-control mr-2" name="city">
							<option value="">도시</option>
							<option value="제주도">제주도</option>
							<option value="시드니">시드니</option>
							<option value="런던">런던</option>
						</select>
					</div>

					<!-- 정보 종류 -->
					<div class="col-md">
						<select class="form-control mr-2" name="infotype">
							<option value="팁">팁</option>
							<option value="교통">교통</option>
							<option value="숙박">숙박</option>
							<option value="음식점">음식점</option>
						</select>
					</div>

					<!-- 정보 기준일 년월만 표시 -->
					<div class="col-md">
						<select class="form-control mr-2" name="infodate">
							<option value="">도시</option>
							<option value="제주도">제주도</option>
							<option value="시드니">시드니</option>
							<option value="런던">런던</option>
						</select>
					</div>
				</div>

			</form>
		</div>

		        <div class="border rounded p-4">
            <div class="d-flex justify-content-between mb-3 text-secondary">
                <div class="d-flex">
                    <span class="mr-3">지역</span>
                    <span class="mr-3">여행정보종류</span>
                    <span>닉네임</span>
                </div>
                <div>
                    <span class="mr-3">조회수</span>
                    <span>글작성일</span>
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
                <div class="d-flex flex-grow-1">
                    <div class="mr-4">1</div>
                    <div>
                        <div>글제목</div>
                        <div class="text-secondary small">여행정보보기기준일</div>
                    </div>
                </div>
                <div class="d-flex flex-shrink-0">
                    <span class="mr-3">124</span>
                    <span>2025-08-08</span>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
                <div class="d-flex flex-grow-1">
                    <div class="mr-4">2</div>
                    <div>
                        <div>호주 도보 여행 교통 정보 입니다.</div>
                        <div class="text-secondary small">2024-05-01</div>
                    </div>
                </div>
                <div class="d-flex flex-shrink-0">
                    <span class="mr-3">124</span>
                    <span>2025-08-08</span>
                </div>
            </div>
            
            <div class="d-flex justify-content-center mt-4">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">&lt;</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
        
        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-warning">글쓰기</button>
        </div>

	</div>
</main>
</html>