<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- 여행 후기 게시판 리스트 -->
<main layout:fragment="content">
	<h4 class="text-center content--title">여행 후기 게시판</h4>
	<div class="travel-review-containers bg--containers pt-5 pb-5">
		<!-- 검색 기능 : 추후 컴포넌트화 -->
		<div class="form-container">
			<form th:action="@{/}" method="get">
				<div class="form-group row">
					<div class="col-sm-10">
						<input type="text" name="keyword" class="form-control" placeholder="무엇을 찾아볼까요?">
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-block btn-search">검색</button>
					</div>
				</div>
				<!-- 카테고리 필터 -->
				<div class="form-group row">
					<div class="col-md">
						<select class="form-control mr-2" name="country">
							<option value="">나라</option>
							<option value="한국">한국</option>
							<option value="호주">호주</option>
							<option value="영국">영국</option>
						</select>
					</div>

					<div class="col-md">
						<select class="form-control mr-2" name="city">
							<option value="">도시</option>
							<option value="제주도">제주도</option>
							<option value="시드니">시드니</option>
							<option value="런던">런던</option>
						</select>
					</div>

					<div class="col-md">
						<select class="form-control" name="concept">
							<option value="">여행 컨셉</option>
							<option value="맛집/카페">맛집/카페</option>
							<option value="술/친목">술/친목</option>
							<option value="액티비티/투어">액티비티/투어</option>
							<option value="전시회/공연">전시회/공연</option>
							<option value="기타">기타</option>
						</select>
					</div>
				</div>
			</form>
		</div>

		<div class="board-divider mx-4 px-2"></div>

		<div class="review-list-container mt-4 mx-4">
			<div th:each="review, stat : ${reviewList}">
				<!-- 카드 -->
				<div class="card mb-3">
					<div class="card-body card-body-grid">

						<!-- 왼쪽: 글 번호 -->
						<div id="idx" class="number" th:text="${(pageData.currentPage - 1) * pageData.size + stat.index + 1}">1</div>

						<!-- 오른쪽: 카드 내용 -->
						<div class="right-content">

							<!-- 1행: 배지 -->
							<div class="row-badges">
								<span id="cityId" class="badge badge--category"
									th:text="${review['cityName']}">도시</span>
								<!-- 조회수 주석 처리 -->
								<!-- <span class="badge--sub-desc">조회수 · <span th:text="${review.viewCount}">0</span></span> -->
							</div>

							<!-- 2행: 글 제목 + 작성자 + 작성일 -->
							<div class="row-stats">
								<a th:href="@{/travel-review/detail-review/{idx}(idx=${review.idx})}" id="title"
									class="card-title h5 mb-1 list-title" th:text="${review['title']}">글 제목</a> <span
									class="badge badge--sub-desc" th:text="${review['memberNickname']}">작성자</span> <span
									id="createdAt" class="badge--sub-desc"
									th:text="${#temporals.format(review['createdAt'], 'yyyy-MM-dd')}">2025-08-17</span>
							</div>

							<!-- 3행: 여행일자 -->
							<div class="row-travel-date">
								<span id="matetype" class="badge badge--category travel-type"
									th:text="${review['mateType']}">메이트 유형</span> <span id="concepttype"
									class="badge badge--category travel-type" th:text="${review['conceptType']}">테마
									유형</span>
							</div>

						</div>
					</div>
				</div>

				<!-- 카드와 카드 사이 구분선: 마지막 카드가 아닐 때만 표시 -->
				<div class="card-divider" th:if="${!stat.last}"></div>
			</div>
		</div>


		<!-- 페이지네이션, 글쓰기 버튼 -->
		<div class="row mb-3">
			<div class="col"></div>

			<!-- 왼쪽 빈 영역 (페이지네이션 가운데를 위해 flex-grow 사용) -->
			<div class="col-6 text-center">
				<nav class="p-2 pagination--bottom">
					<ul class="pagination justify-content-center mb-0">
						<!-- 처음으로, 이전 -->
						<li th:classappend="${pageData.currentPage == 1} ? 'disabled' : ''"
							class="page-item pagination--spacing">
							<a class="page-link" th:href="@{/travel-review/findTravelreviewAllList(page=1)}">&laquo;</a>
						</li>
						<li th:classappend="${pageData.currentPage == 1} ? 'disabled' : ''"
							class="page-item pagination--spacing">
							<a class="page-link"
								th:href="@{/travel-review/findTravelreviewAllList(page=${pageData.currentPage - 1})}">&lt;</a>
						</li>

						<!-- 페이지 번호 반복 -->
						<li th:each="i : ${#numbers.sequence(pageData.startPage, pageData.endPage)}"
							th:classappend="${i == pageData.currentPage} ? 'active' : ''"
							class="page-item pagination--spacing">
							<a class="page-link" th:href="@{/travel-review/findTravelreviewAllList(page=${i})}"
								th:text="${i}">1</a>
						</li>

						<!-- 다음, 마지막 -->
						<li th:classappend="${pageData.currentPage == pageData.totalPage} ? 'disabled' : ''"
							class="page-item pagination--spacing">
							<a class="page-link"
								th:href="@{/travel-review/findTravelreviewAllList(page=${pageData.currentPage + 1})}">&gt;</a>
						</li>
						<li th:classappend="${pageData.currentPage == pageData.totalPage} ? 'disabled' : ''"
							class="page-item pagination--spacing">
							<a class="page-link"
								th:href="@{/travel-review/findTravelreviewAllList(page=${pageData.totalPage})}">&raquo;</a>
						</li>
					</ul>
				</nav>
			</div>

			<!-- 오른쪽 글쓰기 버튼 -->
			<div class="col text-left">
				<a class="btn btn-write" th:href="@{/travel-review/registerReviewPage}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						class="bi bi-pencil-square" viewBox="0 0 16 16">
						<path
							d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
						<path fill-rule="evenodd"
							d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
					</svg>
				</a>
			</div>
		</div>
	</div>


	<script src="/js/travel-review.js"></script>

</main>
</html>