<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}">

<!-- 여행 후기 글작성 페이지 -->
<main layout:fragment="content">
	<h4 class="text-center content--title">나의 여행 후기를 알려주세요</h4>
	<div class="register-containers bg--containers pt-5 pb-5">
		
		<!-- 여행 후기 작성 폼 -->
		<div class="form-container">
			<form th:action="@{/travelreview/registerTravelreview}" action="post">
				<div class="form-group row">
					<div class="col-sm-12">
						<input type="text" id="title" name="title" class="form-control"
							placeholder="나의 후기를 모두에게 알려줄 제목을 작성해주세요" required>
					</div>
				</div>

				<div class="board-divider mb-3"></div>

				<div class="form-group row align-items-center">
					<!-- 아이콘 + select를 한 줄로 flex로 감싸기 -->
					<div class="col-md d-flex align-items-center">
						<!-- 아이콘 -->
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill mr-3 text-icon" viewBox="0 0 16 16">
    						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
   						</svg>

						<!-- 셀렉트 -->
						<select class="form-control" name="city">
							<option value="">도시</option>
							<option value="제주도">제주도</option>
							<option value="시드니">시드니</option>
							<option value="런던">런던</option>
						</select>
					</div>
				</div>

				<div class="board-divider mb-3"></div>
				
	            <div class="form-group row">
				    <div class="col-sm-12">
						<textarea id="content" name="content" class="form-control" rows="12"
							placeholder="나의 후기를 모두에게 알려줄 제목을 작성해주세요" required></textarea>
					</div>
				</div>
				
				<div class="board-divider mb-3"></div>

				<div class="form-group row">
					<!-- 메이트 유형 -->
					<div class="col">
						<p class="subheading mb-2">메이트 유형</p>
							<input type="radio" id="allMate" name="mateType" value="전체 메이트" hidden>
							<label for="allMate" class="btn mate-type">전체 메이트</label>
							
							<input type="radio" id="partMate" name="mateType" value="부분 메이트" hidden>
							<label for="partMate" class="btn mate-type">부분 메이트</label>
							
							<input type="radio" id="stayMate" name="mateType" value="숙박 메이트" hidden>
							<label for="stayMate" class="btn mate-type">숙박 메이트</label>
					</div>

					<!-- 여행 컨셉 -->
					<div class="col col-sm-4">
						<p class="subheading mb-2">여행 컨셉</p>
						<select class="form-control" name="concept">
							<option value="">여행 컨셉</option>
							<option value="맛집/카페">맛집/카페</option>
							<option value="술/친목">술/친목</option>
							<option value="액티비티/투어">액티비티/투어</option>
							<option value="전시회/공연">전시회/공연</option>
							<option value="기타">기타</option>
						</select>
					</div>
				</div>


				<div class="board-divider mb-3"></div>

				<div class="custom-file">
					<p>사진 첨부</p>
					<input type="file" class="custom-file-input" id="customFile">
					<label class="custom-file-label" for="customFile">Choose file</label>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<button type="button" class="btn btn-back">목록</button>
					<button type="submit" class="btn btn-primary btn-complete-editing">완료</button>
				</div>
			</form>
		
		</div>
	
	</div>
<script src="/js/travel-review.js"></script>
</main>
</html>