<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walkietalkie.triptalkie.mapper.CityMapper">
	<select id="findCityAllList">
		SELECT id, name, country_id FROM city
	</select>
	
	<select id="findCitiesByCountry">
		SELECT id, name, country_id FROM city WHERE country_id = (SELECT id FROM country WHERE name = #{countryName})
	</select>
</mapper>