<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.walkietalkie.triptalkie.mapper.MakemateMapper">
	<resultMap id="AllMemberlistMap"
		type="com.walkietalkie.triptalkie.domain.Memberlist">
    		<id property="memberId" column="member_id"/>
    		<result property="makemateIdx" column="makemate_idx"/>

		<collection property="memberImage" ofType="com.walkietalkie.triptalkie.domain.MemberImage">
			<id property="memberId" column="member_id"/>
			<result property="idx" column="idx"/>
			<result property="originalName" column="original_name" />
			<result property="filePath" column="file_path" />
			<result property="savedName" column="saved_name" />
		</collection>
	</resultMap>
	<!-- 총 글 갯수 + 검색 -->
	<select id="countMakemate" resultType="int">
		SELECT COUNT(*)
		FROM makemate m
  		JOIN city c ON m.city_id = c.id
		<where>
			<if test="keyword != null and keyword != ''">
				(m.title LIKE CONCAT('%', #{keyword} ,'%'))
				OR (m.content LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="countryId != null and countryId != ''">
				AND c.country_id = #{countryId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND m.city_id = #{cityId}
			</if>
			<if test="conceptType != null and conceptType != ''">
				AND m.concept_type = #{conceptType}
			</if>
		</where>
	</select>
	<!-- 목록 조회 -->
	<select id="findMakematesAllList">
		SELECT idx, title, content, state, created_at,
		updated_at, startdate, enddate, city_id, member_id, concept_type
		FROM
		makemate m
  		JOIN city c ON m.city_id = c.id
		<where>
			<if test="criteria.keyword != null and criteria.keyword != ''">
				(m.title LIKE CONCAT('%', #{criteria.keyword} ,'%'))
				OR (m.content LIKE CONCAT('%', #{criteria.keyword}, '%'))
			</if>
			<if test="criteria.countryId != null and criteria.countryId != ''">
				AND c.country_id = #{criteria.countryId}
			</if>
			<if test="criteria.cityId != null and criteria.cityId != ''">
				AND m.city_id = #{criteria.cityId}
			</if>
			<if test="criteria.conceptType != null and criteria.conceptType != ''">
				AND m.concept_type = #{criteria.conceptType}
			</if>
		</where>
		ORDER BY created_at DESC
		LIMIT #{size} OFFSET #{offset}
	</select>
	<!-- id로 멤버 조회 -->
	<select id="findMemberById">
		SELECT id, nickname, birth, gender, address
		FROM member
		WHERE
		id=#{memberId}
	</select>
	<!-- idx로 도시 조회 -->
	<select id="findCityByIdx">
		SELECT id, name, country_id
		FROM city
		WHERE
		id=#{cityId}
	</select>
	<!-- idx로 나라 조회 -->
	<select id="findCountryByIdx">
		SELECT id, name, land_id
		FROM country
		WHERE
		id=#{countryId}
	</select>
	<!-- idx로 대륙 조회 -->
	<select id="findLandByIdx">
		SELECT id, name
		FROM land
		WHERE id=#{landId}
	</select>
	<!-- idx로 makemate 조회 -->
	<select id="findMakemateByIdx">
		SELECT idx, title, content, state, created_at,
		updated_at, age_group,
		view, matetype, max_people, budget, state,
		startdate,
		enddate, city_id,
		member_id, concept_type
		FROM makemate
		WHERE idx=#{makemateId}
	</select>
	<!-- 조회수 증가 -->
	<update id="increaseViewCount">
		UPDATE makemate
		SET view = view + 1
		WHERE idx=#{id}
	</update>
	<select id="findCountMemberByIdx">
		SELECT COUNT(*)
		FROM memberlist
		WHERE
		makemate_idx=#{idx}
	</select>
	<!-- 멤버사진 담아오기 -->
	<select id="findAllMemberlistPhoto" resultMap="AllMemberlistMap">
		  SELECT ml.makemate_idx ,
		         ml.member_id,
		         mi.idx ,
		         mi.original_name,
		         mi.file_path,
		         mi.saved_name
		FROM memberlist ml
		LEFT JOIN member_image mi ON (ml.member_id = mi.member_id)
		WHERE makemate_idx=#{makemateId}
	</select>
	<!-- 멤버 담아오기 -->
	<select id="findAllMemberlist">
		SELECT makemate_idx, member_id
		FROM memberlist
		WHERE makemate_idx=#{makemateId}
	</select>
	<!-- 메이크메이트 글등록 -->
	<select id="findAllCityName">
		SELECT id, name, country_id
		FROM city
	</select>
	<select id="findAllCountryName">
		SELECT id, name, land_id
		FROM country
	</select>
	<select id="findAllLandName">
		SELECT id, name
		FROM land
	</select>
	<insert id="registerMakemate"
		parameterType="com.walkietalkie.triptalkie.domain.Makemate"
		useGeneratedKeys="true"
		keyProperty="idx">
		INSERT INTO makemate (title, content, matetype,
		concept_type,
		max_people, age_group, budget, startdate,
		enddate,
		city_id, member_id)
		VALUES (#{title}, #{content}, #{mateType},
		#{conceptType},
		#{maxPeople},#{ageGroup}, #{budget},
		#{startdate}, #{enddate}, #{cityId}, #{memberId})
	</insert>
	<insert id="registerMemberlist" parameterType="com.walkietalkie.triptalkie.domain.Memberlist">
		INSERT INTO memberlist(makemate_idx, member_id)
		VALUES (#{makemateIdx}, #{memberId})
	</insert>
	<!-- 글수정 -->
	<update id="updateMakemate">
		UPDATE makemate
		SET title=#{title},
			max_people=#{maxPeople},
			budget=#{budget},
			content=#{content},
			matetype=#{mateType},
			concept_type =#{conceptType}
		WHERE idx=#{idx}
	</update>
	<!-- 글삭제 -->
	<delete id="deleteMakemateByIdx">
		DELETE FROM makemate
		WHERE idx=#{makemateId}
		AND member_id=#{memberId}
	</delete>

	<!-- 사진만 내려주면 되나? <select id="findMemberListByIdx"> SELECT ml.makemate_idx, 
		ml.member_id FROM memberlist ml JOIN makemate mm ON (mm.idx = ml.makemate_idx) 
		JOIN member m ON (mm.member_id = m.id) WHERE mm.idx=1; </select> -->
</mapper>