<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.walkietalkie.triptalkie.mapper.MypageMapper">
	<!-- 마이페이지 / 내 정보 조회 config 케이스 설정 해줘야 -->
	<select id="findMemberById"
		resultType="com.walkietalkie.triptalkie.domain.Member">
		SELECT id, nickname, password, name, birth, gender,
		phonenumber, email, address, travel_concept, credit
		FROM member
		WHERE
		id=#{id}
	</select>
	<!-- 마이페이지 / 비밀번호 확인(내 정보 수정 위한) -->
	<select id="checkPassword">
		SELECT password
		FROM member
		WHERE id=#{id}
	</select>

	<!-- 마이페이지 / 내 정보 수정 -->
	<update id="updateMemberById"
		parameterType="com.walkietalkie.triptalkie.domain.Member">
		UPDATE member
		SET nickname=#{nickname},
		password=#{password},
		phonenumber=#{phonenumber},
		email=#{email},
		address=#{address},
		travel_concept=#{travelConcept}
		WHERE id=#{id}
	</update>
	<!-- 마이페이지 / 내 여행 리스트 -->
	<select id="countMakemate" resultType="int">
		SELECT COUNT(*)
		FROM
		makemate m
	</select>
	<select id="findMakematesAllListByMemberId">
		SELECT idx, title, content, state, created_at,
		updated_at, startdate,
		enddate, city_id, member_id, concept_type
		FROM
		makemate
		WHERE member_id=#{memberId}
		ORDER BY created_at DESC
		LIMIT #{size} OFFSET #{offset}
	</select>
	<select id="findCityByIdx">
		SELECT id, name, country_id
		FROM city
		WHERE
		id=#{cityId}
	</select>
	<select id="findCountryByIdx">
		SELECT id, name, land_id
		FROM country
		WHERE
		id=#{countryId}
	</select>
</mapper>