<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walkietalkie.triptalkie.mapper.RatingListMapper">
	<select id="findMateList" resultType="com.walkietalkie.triptalkie.domain.RatingList">
		SELECT 
            mk.title AS title,
            ml.member_id AS memberId,
            mk.enddate AS enddate,
            mi.file_path AS imagePath
        FROM memberlist ml
        JOIN makemate mk ON ml.makemate_idx = mk.idx
        JOIN member m ON ml.member_id = m.id
        LEFT JOIN (
            SELECT member_id, file_path
            FROM member_image
            WHERE idx IN (
                SELECT MIN(idx)
                FROM member_image
                GROUP BY member_id
            )
        ) mi ON m.id = mi.member_id
        WHERE mk.member_id = #{hostId} 
	</select>
	
</mapper>