<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.walkietalkie.triptalkie.mapper.TravelInfoMapper">
	<!-- 여행 정보 글을 등록 -->
	<insert id="registerTravelInfo"
		parameterType="com.walkietalkie.triptalkie.domain.TravelInfo"
		useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO travelinfo (title,
		infotype, infodate,
		city_id, content, member_id) VALUES (#{title},
		#{infotype},
		#{infodate}, #{cityId}, #{content}, #{memberId})
	</insert>
	<!-- 여행 정보 목록을 모두 출력 -->
	<select id="findTravelInfoAllList"
		resultType="com.walkietalkie.triptalkie.domain.TravelInfo">
		select idx, title, view, created_at, updated_at, infotype,
		infodate, city_id, content, member_id from travelinfo
	</select>
	<!-- 여행 정보 idx을 사용해서 여행 정보 객체 반환 -->
	<select id="findTravelInfoIdx"
		resultType="com.walkietalkie.triptalkie.domain.TravelInfo"
		flushCache="true">
		select idx, title, `view` AS view, created_at, updated_at,
		infotype,
		infodate, city_id, content, member_id from travelinfo where
		idx=#{idx}
	</select>
	<!-- 여행 정보 글 idx와 회원 id에 해당하는 글을 수정 -->
	<update id="updateTravelInfoByIdxAndMemberId"
		parameterType="com.walkietalkie.triptalkie.domain.TravelInfo">
		update travelinfo set title=#{title},
		infotype=#{infotype}, infodate=#{infodate}, city_id=#{cityId},
		content=#{content}, updated_at = NOW() where idx=#{idx} and
		member_id=#{memberId}
	</update>
	<!-- 여행 정보 idx에 해당하는 여행 정보를 삭제 -->
	<delete id="deleteTravelInfoByIdx">
		delete from travelinfo where idx = #{idx} and
		member_id=#{memberId}
	</delete>
	<select id="findTravelInfoTop3">
		SELECT
		ti.idx,
		ti.title,
		ti.member_id,
		tii.saved_name AS
		thumbnail
		FROM travelinfo ti
		LEFT JOIN travelinfo_image tii
		ON
		tii.travelinfo_idx = ti.idx
		AND tii.created_at = (
		SELECT
		MIN(created_at)
		FROM travelinfo_image
		WHERE travelinfo_idx = ti.idx
		)
		ORDER BY ti.view DESC
		LIMIT 3;
	</select>

	<select id="findTravelInfoByMemberId">
		SELECT idx, title, member_id, created_at FROM
		travelinfo WHERE member_id=#{memberId} ORDER BY created_at DESC
	</select>

	<!-- 페이지 단위 조회 -->
	<select id="selectTravelInfoListPage"
		resultType="com.walkietalkie.triptalkie.DTO.TravelInfoListDTO">
		SELECT
		t.idx,
		t.title,
		t.view,
		t.created_at AS createdAt,
		t.infotype,
		t.infodate,
		c.name AS cityName,
		m.nickname AS memberNickname
		FROM travelinfo t
		LEFT JOIN city c ON t.city_id = c.id
		LEFT JOIN member
		m ON t.member_id = m.id
		ORDER BY t.created_at DESC
		LIMIT #{size} OFFSET
		#{offset}
	</select>

	<!-- travelinfo 테이블 전체 레코드 갯수 조회 -->
	<select id="selectTravelInfoCount" resultType="int">
		SELECT COUNT(*)
		FROM travelinfo
	</select>

	<update id="updateViewCount">
		UPDATE travelinfo
		SET view = view + 1
		WHERE idx =
		#{idx}
	</update>

	<select id="getAllCountries"
		resultType="com.walkietalkie.triptalkie.domain.Country">
		SELECT id, name, land_id FROM country ORDER BY name
	</select>

	<select id="getAllCities"
		resultType="com.walkietalkie.triptalkie.domain.City">
		SELECT id, name, country_id FROM city ORDER BY name
	</select>

	<select id="findCityById"
		resultType="com.walkietalkie.triptalkie.domain.City">
		SELECT id, name, country_id FROM city where id = #{id}
	</select>

	<!-- TravelInfoMap: 여행 정보 상세 조회용 -->
	<resultMap id="TravelInfoMap"
		type="com.walkietalkie.triptalkie.domain.TravelInfo">
		<id property="idx" column="idx" />
		<result property="title" column="title" />
		<result property="view" column="view" />
		<result property="content" column="content" />
		<result property="infotype" column="infotype" />
		<result property="infodate" column="infodate" />
		<result property="memberId" column="member_id" />

		<!-- 계층형 매핑 -->
		<association property="city"
			javaType="com.walkietalkie.triptalkie.domain.City">
			<id property="id" column="city_id" />
			<result property="name" column="city_name" />
			<association property="country"
				javaType="com.walkietalkie.triptalkie.domain.Country">
				<id property="id" column="country_id" />
				<result property="name" column="country_name" />
			</association>
		</association>

		<association property="member"
			javaType="com.walkietalkie.triptalkie.domain.Member">
			<id property="id" column="member_id" />
			<result property="nickname" column="member_nickname" />
		</association>
	</resultMap>

	<!-- 상세 조회 -->
	<select id="getTravelInfoDetail" parameterType="Long"
		resultMap="TravelInfoMap">
		SELECT
		ti.idx,
		ti.title,
		ti.`view`,      <!-- 백틱 추가 -->
		ti.content,
		ti.infotype,
		ti.infodate,
		ti.member_id,
		c.id AS city_id,
		c.name AS city_name,
		co.id AS country_id,
		co.name AS country_name
		FROM
		travelinfo ti
		JOIN member m ON ti.member_id = m.id
		JOIN city c ON ti.city_id = c.id
		JOIN country co ON
		c.country_id = co.id
		WHERE ti.idx =
		#{idx}
	</select>

	<!-- 검색 + 페이징 -->
	<select id="searchTravelInfo" resultType="map">
		SELECT
		t.idx,
		t.title,
		t.view,
		t.infotype,
		DATE_FORMAT(t.created_at,
		'%Y-%m-%d') AS createdAtStr,
		t.updated_at,
		DATE_FORMAT(t.infodate,
		'%Y-%m') AS infodateStr,
		t.content,
		c.id AS cityId,
		c.name AS cityName,
		co.id AS countryId,
		co.name AS countryName,
		m.nickname AS nickName
		FROM
		travelinfo t
		JOIN city c ON t.city_id = c.id
		JOIN country co ON
		c.country_id = co.id
		JOIN member m ON t.member_id = m.id
		<where>
			<if test="title != null and title != ''">
				AND t.title LIKE CONCAT('%', #{title}, '%')
			</if>
			<if test="infotype != null and infotype != ''">
				AND t.infotype = #{infotype}
			</if>
			<if test="cityId != null and cityId != ''">
				AND t.city_id = #{cityId}
			</if>
			<if test="countryId != null and countryId != ''">
				AND co.id = #{countryId}
			</if>
		</where>
		ORDER BY t.idx DESC
		LIMIT #{offset}, #{size}
	</select>

	<!-- 검색 결과 총 개수 -->
	<select id="countSearchTravelInfo" resultType="int">
		SELECT COUNT(*)
		FROM travelinfo t
		JOIN city c ON t.city_id = c.id
		JOIN
		country co ON c.country_id = co.id
		<where>
			<if test="title != null and title != ''">
				AND t.title LIKE CONCAT('%', #{title}, '%')
			</if>
			<if test="infotype != null and infotype != ''">
				AND t.infotype = #{infotype}
			</if>
			<if test="cityId != null and cityId != ''">
				AND t.city_id = #{cityId}
			</if>
			<if test="countryId != null and countryId != ''">
				AND co.id = #{countryId}
			</if>
		</where>
	</select>





</mapper>