<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">
<!-- content fragement 선언 부분 -->
<body>
	<main layout:fragment="content">
		<!-- 상세 내용 컨테이너 -->
		<div class="form-container">
		<h4 class="text-center content--title">공지사항</h4>
			<!-- 제목 -->
			<div class="form-group row">
				<div class="col-sm-12">
					<h5 class="font-weight-bold" th:text="${notice.title}">공지사항
						제목</h5>
				</div>
			</div>

			<div class="board-divider mb-3"></div>

			<!-- 작성자 & 작성일 -->
			<div class="form-group row align-items-center">
				<div class="col-md d-flex align-items-center">
					<span class="detail-text mr-3"> 작성자: <strong>관리자</strong>
					</span> <span class="detail-text"> 작성일: <span
						th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd HH:mm')}">2025-08-19</span>
					</span>
				</div>
			</div>

			<div class="board-divider mb-3"></div>

			<!-- 본문 -->
			<div class="form-group row">
				<div class="col-sm-12">
					<p class="detail-content" th:text="${notice.content}">공지
						게시글의 본문 내용이 들어갑니다.</p>
				</div>
			</div>

			<div class="board-divider mb-3"></div>

			<!-- 버튼 영역 -->
			<div class="d-flex justify-content-between align-items-center">
				<button type="button" class="btn btn-back"
					th:onclick="|window.location.href='@{/customerservice/notice}'|">목록</button>
			</div>
		</div>
	</main>
</body>
</html>
