<!--<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">-->
<main layout:fragment="content" layout:decorate="~{layouts/main}">
	<!-- main image section -->
	<div class="image-container">
		<img th:src="@{/images/main-image.jpg}"
			class="img-fluid mx-auto d-block main-image">
		<div class="text-overlay">
			파도처럼 밀려오는 설렘<br> 떠나자, 지금 바로
		</div>
	</div>

	<div class="main-content-container p-3">
		<div>
			<div class="text-container mb-3">
				<p class="main--text-title font-weight-bold mb-1">우리들의 빛나는 활동으로
					여행을 풍성하게</p>
				<p class="main--text-subtitle text-muted mb-0">메이트들의 베스트 오브 베스트
					즐길거리</p>
			</div>

			<!-- 3열 이미지 영역 -->
			<div class="row g-4">
				<div class="col-12 col-md-4">
					<img th:src="@{/images/bangkok.jpg}" class="img-fluid square-img">
				</div>
				<div class="col-12 col-md-4">
					<img th:src="@{/images/bangkok.jpg}" class="img-fluid square-img">
				</div>
				<div class="col-12 col-md-4">
					<img th:src="@{/images/bangkok.jpg}" class="img-fluid square-img">
				</div>
			</div>
		</div>

		<div>
			<div class="text-container mb-3">
				<p class="main--text-title font-weight-bold mb-1 mt-4">나의 소중한 여행
					꿀팁</p>
				<p class="main--text-subtitle text-muted mb-0">메이트들의 유용한 정보 둘러보기
				</p>
			</div>

			<!-- 3열 이미지 영역 -->
			<div class="row g-4">
				<div class="col-12 col-md-4">
					<img th:src="@{/images/photo2.jpg}" class="img-fluid square-img">
				</div>
				<div class="col-12 col-md-4">
					<img th:src="@{/images/photo2.jpg}" class="img-fluid square-img">
				</div>
				<div class="col-12 col-md-4">
					<img th:src="@{/images/photo2.jpg}" class="img-fluid square-img">
				</div>
			</div>
		</div>
	</div>

	<div class="main-content-container p-3">
		<div class="row">
			<div class="col-xl mt-4">
				<p class="main--text-title font-weight-bold mb-1 mt-4 mb-4">공지
					사항</p>

				<div>
					<table class="table">
						<thead>
							<tr>
								<th>Firstname</th>
								<th>Lastname</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
								<td>Doe</td>
								<td>john@example.com</td>
							</tr>
							<tr>
								<td>Mary</td>
								<td>Moe</td>
								<td>mary@example.com</td>
							</tr>
							<tr>
								<td>July</td>
								<td>Dooley</td>
								<td>july@example.com</td>
							</tr>
							<tr>
								<td>July</td>
								<td>Dooley</td>
								<td>july@example.com</td>
							</tr>
							<tr>
								<td>July</td>
								<td>Dooley</td>
								<td>july@example.com</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<div class="col-xl mt-4">
				<p class="main--text-title font-weight-bold mb-1 mt-4 mb-4">FAQ
				</p>
				<div>
					<table class="table">
						<thead>
							<tr>
								<th>자주 묻는 질문</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John</td>
							</tr>
							<tr>
								<td>Mary</td>
							</tr>
							<tr>
								<td>July</td>
							</tr>
							<tr>
								<td>July</td>
							</tr>
							<tr>
								<td>July</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>


</main>
<!--</html>-->