@charset "UTF-8";

/* 채팅 버튼 */
.btn-chatting {
	background-color: #7cd3c2;
	border: none;
	color: #fff;
	width: 100%;
	padding: 8px;
	margin: 30px 0 20px 0;
	border-radius: 20px;
	font-size: 1.1rem;
}

/* 목록, 삭제, 수정 버튼 */
.btn-backToList, .btn-makemate-delete, .btn-makemate-edit {
	background: #fff;
	border-color: #7cd3c2;
	color: #7cd3c2;
	font-size: 1.1rem;
	cursor: pointer;
	border-radius: 15px;
}

.btn-makemate-apply{
	background: #fff;
	border-color: #ff9900;
	color: #ff9900;
	font-size: 1.1rem;
	cursor: pointer;
	border-radius: 15px;
}


.btn-makemate-apply:hover{
	background: #ff9900;
	color: #fff;
}

.btn-backToList:hover, .btn-makemate-delete:hover, .btn-makemate-edit:hover{
	background: #7cd3c2;
	color: #fff;
}

/* 동행 유형, 여행컨셉 강조 */
.mateType, .conceptType {
	background-color: #7cd3c2;
	border: none;
	width: 40%;
	padding:5px;
	color: #fff;
	border-radius: 15px;
}

.card-border{
	border: 1px solid var(--color-border);
    border-radius: 12px;
    margin: 1px;
}