@charset "UTF-8";

/* 채팅 버튼 */
.btn-chatting {
	background-color: #7cd3c2;
	border: none;
	color: #fff;
	width: 100%;
	padding: 8px;
	margin: 30px 0 20px 0;
	border-radius: 20px;
	font-size: 1.1rem;
}

/* 목록, 삭제, 수정 버튼 */
.btn-backToList,
.btn-makemate-delete, 
.btn-makemate-edit {
	background: #fff;
	border-color: #7cd3c2;
	color: #7cd3c2;
	font-size: 1.1rem;
	cursor: pointer;
	border-radius: 15px;
}

.btn-backToList:hover,
.btn-makemate-delete:hover, 
.btn-makemate-edit:hover{
	background: #7cd3c2;
	color: #fff;
}