@charset "UTF-8";

.register-container {
	max-width: 600px;
	margin: 50px auto;
	background: #f9fafa;
	border-radius: 12px;
	padding: 40px;
}

.original--profile {
	width: 100px;
	height: 100px;
	border-radius: 20%;
	object-fit: cover;
	display: block;
	margin: 40px auto 20px auto;
}

.form--btn-confirm {
	background-color: var(--color-secondary);
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}

.btn-complete {
	background-color: #7cd3c2;
	border: none;
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 1.1rem;
}

.form-check-inline {
	margin-right: 20px;
}