@charset "UTF-8";

/* my information */
.btn-profile {
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	border-radius: 10px;
}

.btn-profile:hover {
	color: var(--color-primary);
}

.btn-complete {
	border-radius: 10px;
}

.deleteMember {
	color: var(--color-text-primary);
}

/* 내가 작성한 글*/
.mypage-title {
	color: var(--color-primary);
}

.myposts-container {
	width: 585px;
}

.myposts-link {
	color: var(--color-text-primary);
}

.myposts-link:hover {
	color: var(--color-secondary);
}

.no-result {
	pointer-events: none;
}

.btn-delete-myinfo {
	border: 1px solid var(--color-primary);
	border-radius: 10px;
	color: var(--color-primary);
	padding: .375rem .75rem;
}

.btn-delete-myinfo:hover {
	background-color: var(--color-primary);
	color: #fff;
	text-decoration:none;
}