@charset "UTF-8";

/* 여행 후기 리스트 CSS */
.board-divider {
	border-top: 1px solid var(--color-border);
}

.badge {
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 0;
	border-radius: 8px;
}

.row-badges {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.badge--sub-desc {
	color: var(--color-text-secondary);
	font-size: 0.75rem;
}

.badge--category {
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.pagination--bottom {
	border: 0;
}

.card {
	border: none;
	border-radius: 10px;
}

.card-body-grid {
	display: grid;
	grid-template-columns: minmax(30px, 60px) 1fr;
	column-gap: 1rem;
}

.card-divider {
	width: 100%;
	min-width: 275px;
	height: 1px;
	margin: 16px 0px;
	background-color: var(--color-border);
	margin: 1rem 0;
}

.number {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.card-body-grid .number {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.card-title {
	white-space: nowrap;
	/* 한 줄로 유지 */
	overflow: hidden;
	/* 넘치는 부분 숨김 */
	text-overflow: ellipsis;
	/* 말줄임 (...) 표시 */
}

.right-content {
	display: grid;
	grid-template-rows: auto auto auto;
	/* 배지 / 글정보 / 여행일자 */
	row-gap: 0.5rem;
}

.row-badges {
	display: grid;
	grid-auto-flow: column;
	column-gap: 0.5rem;
	align-items: center;
	grid-template-columns: auto 1fr;
}

.row-badges span:last-child {
	justify-self: end;
}

.travel-type {
	background-color: var(--color-badge);
	border: none;
	color: var(--color-primary);
}

.row-stats {
	display: grid;
	grid-template-columns: 1fr auto auto;
	/* 글 제목 / 조회수 / 작성일 */
	column-gap: 0.5rem;
	align-items: center;
}

.row-stats a {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row-stats span {
	text-align: center;
}

.row-stats span:last-child {
	text-align: right;
}

.row-travel-date {
	justify-self: start;
}

/* 후기 작성 페이지 CSS */
.mate-type {
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	border-radius: 10px;
	width: 105px;
}

.mate-type:hover {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: var(--color-secondary);
	box-shadow: none;
}

input[type="radio"]:checked+label.mate-type {
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

/* 상세 페이지 CSS */
.form-container {
	width: 700px;
}

.detail-review {
	border-radius: 10px;
	padding: 15px;
	margin: auto;
}

.detail-content {
	height: 300px;
}

.travel-city, .detail-title {
	background-color: var(--color-board-background);
	border-radius: 10px;
}

.mate-travel-type {
	background-color: var(--color-board-background);
	margin: auto;
	border-radius: 15px;
}

.selected-mate-type {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 15px;
	pointer-events: none;
}

.review-imagebox {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.review-imagebox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.review-btn {
	color: var(--color-primary);
}
.review-btn:hover {
	color: var(--color-secondary);
	border-radius: 20px;
}

/* 셀렉트 박스 CSS */
/* select-box만 적용 */
.select-box.bootstrap-select .dropdown-menu li a:hover {
	background-color: #ffcc00;
	color: #000;
}

.select-box.bootstrap-select .dropdown-menu li.selected a {
	background-color: #ff9900;
	color: #fff;
}

/* 댓글 */
.comment-section {
	background-color: var(--color-secondary);
}

#comment-list {
	background: var(--color-secondary);
	border-radius: 10px;
	padding: 10px;
}

.comment-content {
	border-radius: 10px;
	padding: 10px;
	border: 1px solid var(--color-primary);
}

.comment-content:focus {
	border-color: var(--color-primary);
	outline: none; 
}

.comment-content, .comment-write-btn {
	height: 40px;
	width: 100%;
}

.edit-comment {
	width: 80%;
	border-radius: 10px;
	border-color: var(--color-border);
}

.edit-comment:focus {
	border-color: var(--color-border);
	outline: none; 
}

.save-btn {
	margin: auto;
}

.save-btn, .cancel-btn {
	border: none;
	color: var(--color-text-secondary);
	background-color: transparent;
}

.save-btn:hover, .cancel-btn:hover {
	border: none;
	color: var(--color-primary);
	background-color: transparent;
}

.comment-btn:hover {
	color: var(--color-primary);
	background-color: transparent;
}

.button-style {
	padding-left: 0px;
}

.comment-date {
	font-size: small;
}

.comment-padding {
	padding-left: 12px;
}

.modal-content {
	border-radius: 10px;
}

/* 모달 */
.btn-confirm-delete, .btn-confirm-nope {
	border-radius: 30px;
}
