<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}">
<!-- content fragement 선언 부분 -->
<main layout:fragment="content" class="row">
	<section class="sidebar-section">
		<aside class="mr-3">
			<div th:replace="fragments/mypage-list :: mypageList"></div>
		</aside>
	</section>
	<section>
		<div class="myposts-container">
			<h4 class="mb-3 mypage-title">My Posts</h4>
			<section class="community-section">
				<h5>커뮤니티</h5>
				<div class="list-group">
					<div class="list-group-item d-flex justify-content-between align-items-center no-result" th:if="${myPosts.communityList == null}">아직 작성한 내 글이 없어요</div>
					<div class="list-group-item d-flex justify-content-between align-items-center" th:each="community, stat : ${myPosts.communityList}">
						<div class="d-flex">
							<span class="mr-3" th:text="${stat.index + 1}">1</span> <span><a th:href="@{/community/detail-community/{idx}(idx=${community.idx})}" th:text="${community.title}" class="myposts-link">첫 번째 글 제목</a></span>
						</div>
						<small class="text-muted" th:text="${#temporals.format(community.createdAt, 'yyyy-MM-dd')}">2025-08-25</small>
					</div>
				</div>
			</section>
			<div class="card-divider"></div>
			<section class="info-section">
				<h5>여행 정보</h5>
				<div class="list-group">
					<div class="list-group-item d-flex justify-content-between align-items-center no-result" th:if="${myPosts.travelInfoList == null or #lists.isEmpty(myPosts.travelInfoList)}">아직 작성한 내 글이 없어요</div>
					<div class="list-group-item d-flex justify-content-between align-items-center" th:each="travelInfo, stat : ${myPosts.travelInfoList}">
						<div class="d-flex">
							<span class="mr-3" th:text="${stat.index + 1}">1</span> <span><a th:href="@{/travel-info/detail/{idx}(idx=${travelInfo.idx})}" th:text="${travelInfo.title}" class="myposts-link">첫 번째 글 제목</a></span>
						</div>
						<small class="text-muted" th:text="${#temporals.format(travelInfo.createdAt, 'yyyy-MM-dd')}">2025-08-25</small>
					</div>
				</div>
			</section>
			<div class="card-divider"></div>
			<section class="reivew-section">
				<h5>여행 후기</h5>
				<div class="list-group">
					<div class="list-group-item d-flex justify-content-between align-items-center no-result" th:if="${myPosts.travelReviewList == null or #lists.isEmpty(myPosts.travelReviewList)}">아직 작성한 내 글이 없어요</div>
					<div class="list-group-item d-flex justify-content-between align-items-center" th:each="review, stat : ${myPosts.travelReviewList}">
						<div class="d-flex">
							<span class="mr-3" th:text="${stat.index + 1}">1</span> 
							<span><a th:href="@{/travel-review/detail-review/{idx}(idx=${review.idx})}" th:text="${review.title}" class="myposts-link">여행 후기 글 제목</a></span>
						</div>
						<small class="text-muted" th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd')}">2025-08-15</small>
					</div>
				</div>
			</section>
		</div>
	</section>
	<script src="/js/mypage.js"></script>
</main>
</html>