<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- content fragement 선언 부분 -->
<main layout:fragment="content" th:attr="data-error=${error}">
	<h4 class="text-center content--title">비밀번호 확인</h4>
	<div class="register-containers bg--containers pt-5 pb-5">
		<div class="form-container">
			<div class="text-center mb-5">
				<img class="img-thumbnail original--profile" alt="original-profile"
					th:src="@{/images/triptalkie-check.png}"
					style="width: 150px; height: auto; border-radius: 20rem;">
			</div>
			<form th:action="@{/mypage/password-check-withdraw}" method="post">
				<!-- 비밀번호 -->
				<div class="form-group row">
					<label for="password" class="col-sm-3 col-form-label">비밀번호</label>
					<div class="col-sm-9">
						<input type="password" id="password" name="password"
							class="form-control" placeholder="비밀번호 입력" required>
					</div>
				</div>

				<!-- 완료 버튼 -->
				<div class="form-group text-center">
					<button type="submit" class="btn btn-block btn-login btn-primary"
						id="btn-password-check" data-toggle="modal" data-target="#myModal">비밀번호
						확인</button>
				</div>
			</form>
		</div>
	</div>

	<!-- The Modal -->
	<div class="modal fade" id="myModal-passwordCheck" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content py-4">

				<!-- Modal body -->
				<div class="modal-body text-center">비밀번호가 틀렸습니다.</div>

				<!-- Modal footer -->
				<div class="modal-footer btn-no-border">
					<button type="button"
						class="btn btn-primary btn--radius mx-auto d-block"
						data-dismiss="modal">확인</button>
				</div>

			</div>
		</div>
	</div>
	<script src="/js/mypage.js"></script>
</main>