<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}">
<!-- content fragement 선언 부분 -->
<main layout:fragment="content">
	<section>
		<h4 class="text-center content--title">Make your Mate</h4>
		<div class="chat-container bg--containers py-3 px-3">
			<!-- 메이트 게시글 정보 -->
			<section class="mate-info py-3 px-3">
				<div class="row">
					<div class="col-sm-1 mate-thumbnail">
						<img src="/images/jeju.jpg" class="mr-1" style="width: 43px; height: 43px;" alt="프로필">
					</div>
					<div class="col-sm-11">
						<p class="mate-title subheading">환상의 섬 아름다운 제주도로 떠나보아요</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-1 location-svg">
						<svg xmlns="http://www.w3.org/2000/svg" width="43" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
							<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
						</svg>
					</div>
					<div class="col-sm-7 d-flex flex-column align-items-start">
						<span class="cityName subheading">제주도</span> <span>2025.08.08 ~ 2025.08.10 (3일)</span>
					</div>
					<div class="col-sm-4 d-flex flex-column justify-content-end align-items-end">
						<span class="mate-status"> 메이트 확정 요청 </span>
					</div>
				</div>
			</section>
			<!-- 대화 창 -->
			<section class="chat-box mt-3">
				<div class="p-3" style="height: 500px; overflow-y: auto;">
					<div class="notice-message">
						<p class="date-message text-center text-muted small mb-2 content-text">2025년 08월 07일</p>
					</div>
					<!-- 시스템 메시지 -->
					<div class="notice-message">
						<p class="welcome-message text-center text-muted small mb-3">
							devilBoyBJ님이 들어왔어요.<br>즐거운 대화를 나눠보세요!
						</p>
					</div>
					<!-- 상대 메시지 -->
					<div class="d-flex align-items-center mb-3">
						<img src="/images/jeju.jpg" alt="avatar" class="rounded-circle mr-2" style="width: 35px; height: 35px;">
						<div>
							<div class="sender_nickname mb-1 subheading">devilBoyBJ</div>
							<div class="d-inline-flex align-items-end">
								<div class="chat-bubble-left">여행이 가고 싶어요</div>
								<small class="text-muted ml-2" style="align-self: flex-end;">오후 5:28</small>
							</div>
						</div>
					</div>
					<!-- 내 메시지 -->
					<div class="d-flex justify-content-end mb-3">
						<div class="d-inline-flex">
							<small class="text-muted pr-2" style="align-self: flex-end;">오후 6:15</small>
							<div class="chat-bubble-right">안돼요</div>
						</div>
					</div>
				</div>
				<!-- 입력 칸 -->
				<div class="chat-input d-flex align-items-center p-2">
					<!-- 왼쪽 + 아이콘 -->
					<button class="btn btn-link text-success fs-4 mr-2">+</button>
					<!-- 입력창 + 전송 버튼 -->
					<div class="input-wrapper position-relative flex-grow-1">
						<input type="text" class="form-control rounded-pill pe-5" placeholder="메시지를 입력하세요">
						<!-- 아이콘 버튼 -->
						<button type="button" class="send-btn position-absolute">
							<i class="bi bi-send text-primary"></i>
						</button>
					</div>
				</div>
			</section>
		</div>
		<section class="button-section">
			<div class="row m-0">
				<div class="col-ms-3 pr-2">
					<button type="button" class="btn btn-back">나가기</button>
				</div>
				<div class="col-ms-9">
					<button type="submit" class="btn btn-complete">메이트 요청</button>
					<!--					<button type="submit" class="btn btn-complete">메이트 수락</button>
					<button type="submit" class="btn btn-complete">메이트 철회</button>-->
				</div>
			</div>
		</section>
	</section>
	<script>
		
	</script>
</main>