<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>채팅 목록</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h3>채팅 목록</h3>
  <ul class="list-group">
    <li class="list-group-item" th:each="room : ${rooms}">
      <a th:href="@{/chat/room(chatroomId=${room.idx}, memberId=${memberId})}">
        <span th:text="${room.member1Id} + ' / ' + ${room.member2Id}"></span>
      </a>
    </li>
  </ul>
</div>
</body>
</html>
