<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- content fragement 선언 부분 -->
<main layout:fragment="content">
	<h4 class="text-center content--title">로그인</h4>
	<div class="register-containers bg--containers pt-5 pb-5">
		<div class="form-container">
			<form th:action="@{/member/login}" method="post">
				<!-- 아이디 -->
				<div class="form-group row">
					<label for="id" class="col-sm-3 col-form-label">아이디</label>
					<div class="col-sm-9">
						<input type="text" id="id" name="id" class="form-control"
							placeholder="아이디 입력" required>
					</div>
				</div>

				<!-- 비밀번호 -->
				<div class="form-group row">
					<label for="password" class="col-sm-3 col-form-label">비밀번호</label>
					<div class="col-sm-9">
						<input type="password" id="password" name="password"
							class="form-control" placeholder="비밀번호 입력" required>
					</div>
				</div>

				<div class="form-group row mb-4">
					<div class="col-sm-6">
						<a th:href="@{/member/registerPage}"
							class="btn btn-block btn-signup">회원 가입</a>
					</div>
					<div class="col-sm-6">
						<a th:href="@{/member/findIdOrPwd}" class="btn btn-block btn-signup">아이디/비밀번호찾기</a>
					</div>
				</div>

				<!-- 완료 버튼 -->
				<div class="form-group text-center">
					<button type="submit" class="btn btn-block btn-login btn-primary"
						data-toggle="modal" data-target="#myModal">로그인</button>
				</div>
			</form>
		</div>
	</div>

	<!-- 모달창 -->
	<div class="modal fade" id="loginFailedModal" tabindex="-1"
		role="dialog" aria-labelledby="loginFailedModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginFailedModalLabel">로그인 실패</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="닫기">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="${errorMessage}">아이디 또는 비밀번호가 올바르지 않습니다.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="loginErrorFlag" th:value="${loginError}" />


	<script src="/js/member.js"></script>
</main>