<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- content fragement 선언 부분 -->
<main layout:fragment="content" class="row">
	<section class="col-sm-9 container bg--containers">
		<article>
			<!-- 프로필 이미지 -->
			<div class="text-center mb-5 mt-5 member-profile">
				<img
					th:src="${memberPhoto}"
					alt="프로필사진"
					class="img-fluid rounded-circle d-block border">
			</div>
			<!-- 내정보 -->
			<table class="table table-borderless">
				<tbody class="">
					<tr>
						<th>닉네임</th>
						<td th:text="${member.nickname}">트립토끼</td>
					</tr>
					<tr>
						<th>이름</th>
						<td th:text="${member.name}">김토키</td>
					</tr>
					<tr>
						<th>성별</th>
						<td th:text="${member.gender}">남</td>
					</tr>
					<tr>
						<th>이메일</th>
						<td th:text="${member.email}">toki@gamil.com</td>
					</tr>
				</tbody>
			</table>
			<!-- 여행 컨셉 -->
			<div class="form-group mt-4">
				<label class="subheading">내가 좋아하는 여행컨셉</label><br>
				<div th:object="${member}">
					<label class="form-check-inline"><input
						class="form-check-input" type="checkbox"
						th:field="*{travelConcept}" value="맛집/카페" disabled> 맛집/카페</label>
					<label class="form-check-inline"><input
						class="form-check-input" type="checkbox"
						th:field="*{travelConcept}" value="술/친목" disabled> 술/친목</label> <label
						class="form-check-inline"><input class="form-check-input"
						type="checkbox" th:field="*{travelConcept}" value="액티비티/투어"
						disabled> 액티비티/투어</label> <label class="form-check-inline"><input
						class="form-check-input" type="checkbox"
						th:field="*{travelConcept}" value="전시회/공연" disabled>
						전시회/공연</label> <label class="form-check-inline"><input
						class="form-check-input" type="checkbox"
						th:field="*{travelConcept}" value="기타" disabled> 기타</label>
				</div>
			</div>
		</article>
	</section>

	<script src="/js/mypage.js"></script>
</main>