<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/base}">

<!-- content fragement 선언 부분 -->
<main layout:fragment="content" class="row">
	<!-- 좌측 list -->
	<aside class="col-sm-3">
		<div class="list-group">
			<div class="list-group">
				<a th:href="@{/customerservice/notice}"
					class="list-group-item list-group-item-action"
					th:classappend="${active=='notice'} ? ' active'">내 정보 조회<span>></span></a>
				<a th:href="@{/customerservice/faq}"
					class="list-group-item list-group-item-action"
					th:classappend="${active=='faq'} ? ' active'">내 채팅 목록<span>></span></a>
				<a th:href="@{/customerservice/qna}"
					class="list-group-item list-group-item-action"
					th:classappend="${active=='qna'} ? ' active'">여행 리스트<span>></span></a>
				<a th:href="@{/customerservice/qna}"
					class="list-group-item list-group-item-action"
					th:classappend="${active=='qna'} ? ' active'">깡총 지수<span>></span></a>
				<a th:href="@{/customerservice/qna}"
					class="list-group-item list-group-item-action"
					th:classappend="${active=='qna'} ? ' active'">관심 여행 목록<span>></span></a>
				<a th:href="@{/customerservice/qna}"
					class="list-group-item list-group-item-action"
					th:classappend="${active=='qna'} ? ' active'">내가 쓴 글<span>></span></a>
			</div>
		</div>
	</aside>
	<section class="col-sm-9">
		<article>
			<!-- 프로필 이미지 -->
			<div class="text-center mb-5">
				<img class="img-thumbnail original--profile" alt="original-profile"
					th:src="@{/images/original-profile.png}"
					style="width: 150px; height: auto; border-radius: 1.25rem;">
			</div>
			<!-- 내정보 -->
			<table class="table table-borderless">
				<tbody class="">
					<tr>
						<th>아이디</th>
						<td th:text="${member.id}">토끼</td>
					</tr>
					<tr>
						<th>닉네임</th>
						<td th:text="${member.nickname}">트립토끼</td>
					</tr>
					<tr>
						<th>이름</th>
						<td th:text="${member.name}">김토키</td>
					</tr>
					<tr>
						<th>성별</th>
						<td th:text="${member.gender}">남</td>
					</tr>
					<tr>
						<th>생일</th>
						<td th:text="${member.birth}">2020.02.02.</td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td th:text="${member.phonenumber}">010-0202-0202</td>
					</tr>
					<tr>
						<th>이메일</th>
						<td th:text="${member.email}">toki@gamil.com</td>
					</tr>
					<tr>
						<th>주소</th>
						<td th:text="${member.address}">서울특별시 토키구 토키시</td>
					</tr>
				</tbody>
			</table>
			<!-- 여행 컨셉 -->
			<div class="form-group mt-4">
				<label class="subheading">내가 좋아하는 여행컨셉</label><br>
				<div th:object="${member}">
					<label class="form-check-inline"><input
						class="form-check-input" type="checkbox" th:field="*{travelConcept}"
						value="맛집/카페" disabled> 맛집/카페</label> <label class="form-check-inline" ><input
						class="form-check-input" type="checkbox" th:field="*{travelConcept}"
						value="술/친목" disabled> 술/친목</label> <label class="form-check-inline"><input
						class="form-check-input" type="checkbox" th:field="*{travelConcept}"
						value="액티비티/투어" disabled> 액티비티/투어</label> <label class="form-check-inline"><input
						class="form-check-input" type="checkbox" th:field="*{travelConcept}"
						value="전시회/공연" disabled> 전시회/공연</label> <label class="form-check-inline"><input
						class="form-check-input" type="checkbox" th:field="*{travelConcept}"
						value="기타" disabled> 기타</label>
				</div>
			</div>
		</article>
		<!-- 내 정보 수정 버튼 -->
		<article>
			<div class="">
				<button type="button" class="btn btn-block btn-complete btn-primary" id="btn-update-myinfo">내
					정보 수정</button>
			</div>
		</article>
	</section>


</main>